/*********************************************************************************/

/*FONTS*/

/*********************************************************************************/

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 300;
    src: url(fonts/WorkSans-Light.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 400;
    src: url(fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 500;
    src: url(fonts/WorkSans-Medium.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 600;
    src: url(fonts/WorkSans-SemiBold.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 700;
    src: url(fonts/WorkSans-Bold.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 700;
    src: url(fonts/WorkSans-BoldItalic.ttf);
}

/*********************************************************************************/

/*BODY STYLES*/

/*********************************************************************************/

:root {
    --almost-black: #242424;
    --dark-grayish-green: #a5b1a1;
    --off-white: #fffaef;
    --body-font: 'Work Sans', Helvetica, sans-serif;
    --container-width: calc(100vw - 50px);
    --container-max-width: 1600px;
    --container-margin: calc((100vw - var(--container-width)) / 2);
    --container-padding-left: 50px;
    --z-index-highest: 8;
    --z-index-mid: 7;
}

body {
    background: var(--off-white);
    color: var(--almost-black);
    font: 1rem var(--body-font);
    text-transform: uppercase;
}

.container {
    margin: 0 var(--container-margin);
    max-width: var(--container-max-width);
    padding: 0 0 0 var(--container-padding-left);
    width: var(--container-width);
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
    font-weight: 600;
    margin: 0;
}

h1,
.heading-1 {
    font-size: calc(100rem / 16);
}

h2,
.heading-2 {
    font-size: calc(80rem / 16);
}

h3,
.heading-3 {
    font-size: calc(50rem / 16);
}

button {
    cursor: pointer;
    font-family: var(--body-font);
    text-transform: uppercase;
}

.btn {
    border: none;
    font-weight: 600;
}

a {
    color: var(--almost-black);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.25s ease;
}

a:hover {
    color: var(--dark-grayish-green);
}

/*********************************************************************************/

/*HEADER STYLES*/

/*********************************************************************************/

header {
    position: fixed;
    right: 0;
    top: 100px;
    width: 100vw;
}

/***Menu Button***/

.menu-btn-container {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    position: relative;
    width: 100%;
}

.btn.menu {
    background-image: linear-gradient(180deg, var(--almost-black) 0, var(--almost-black) 50%, var(--dark-grayish-green) 0, var(--dark-grayish-green));
    background-size: 80px 40px;
    color: var(--off-white);
    height: 20px;
    padding-bottom: 1px;
    transition: all 0.25s ease;
    width: 80px;
    z-index: var(--z-index-highest);
}

.btn.menu:hover {
    background-position: -100% 100%;
    color: var(--almost-black);
}

.btn.menu:before {
    background-image: linear-gradient(180deg, var(--almost-black) 0, var(--almost-black) 50%, var(--dark-grayish-green) 0, var(--dark-grayish-green));
    background-size: 80px 40px;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.25s ease;
    width: 20px;
    z-index: var(--z-index-highest);
}

.btn.menu:hover:before {
    background-position: -100% 100%;
}

/***Nav***/

nav {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: var(--z-index-mid);
}

nav .nav-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 22px 0;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

nav .nav-container::before,
nav .nav-container:after {
    background: var(--almost-black);
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 420px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;
}

nav .jump-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 420px;
}

nav .jump-links li {
    height: 55px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

nav .jump-links a {
    display: block;
    letter-spacing: -8px;
    line-height: calc(54 / 80);
    padding-right: 7px;
    position: relative;
}

nav .jump-links a:before {
    background: var(--almost-black);
    content: '';
    height: 24px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: scaleX(1) translateY(-50%);
    transform-origin: left;
    transition: all 0.25s ease;
    width: 100%;
}

nav .jump-links a:hover:before {
    transform: scaleX(0) translateY(-50%);
}

nav .my-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 420px;
}

nav .my-info:before {
    background: var(--almost-black);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
}

nav .my-info li {
    height: 22px;
    overflow: hidden;
}

nav .my-info a {
    background: var(--off-white);
    display: block;
    line-height: calc(12 / 16);
    padding: 5px 0;
    position: relative;
}

nav .my-info li:nth-of-type(1) a {
    padding-right: 4px;
}

nav .my-info li:nth-of-type(2) a {
    padding: 5px 4px;
}

nav .my-info li:nth-of-type(3) a {
    padding-left: 4px;
}

nav .my-info a:before {
    background: var(--almost-black);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: scaleX(1) translateY(-50%);
    transform-origin: left;
    transition: all 0.25s ease;
    width: 100%;
}

nav .my-info a:hover:before {
    transform: scaleX(0) translateY(-50%);
}