/*********************************************************************************/

/*FONTS*/

/*********************************************************************************/

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 300;
    src: url(fonts/WorkSans-Light.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 400;
    src: url(fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 500;
    src: url(fonts/WorkSans-Medium.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 600;
    src: url(fonts/WorkSans-SemiBold.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-weight: 700;
    src: url(fonts/WorkSans-Bold.ttf);
}
@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 700;
    src: url(fonts/WorkSans-BoldItalic.ttf);
}

/*********************************************************************************/

/*BODY STYLES*/

/*********************************************************************************/

:root {
    --almost-black: #242424;
    --dark-grayish-green: #a5b1a1;
    --off-white: #fffaef;
    --body-font: 'Work Sans', Helvetica, sans-serif;
    --container-width: calc(100vw - 60px);
    --container-max-width: 1600px;
    --container-margin: calc((100vw - var(--container-width)) / 2);
    --container-padding-left: 60px;
    --transition-speed-1: all 0.25s ease;
    --transition-speed-2: all 0.5s ease;
    --z-1: 1;
    --z-2: 2;
    --z-3: 3;
    --z-4: 4;
}

html.nav-open {
    overflow: hidden;
}

body {
    background: var(--off-white);
    color: var(--almost-black);
    font: 1rem var(--body-font);
    margin: 0;
    text-transform: uppercase;
}

main {
    position: relative;
}

section:not(.left-links) {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    padding: 0 0 0 var(--container-padding-left);
    position: relative;
    width: var(--container-width);
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {
    font-weight: 600;
    margin: 0;
}

h1,
.heading-1 {
    font-size: calc(100rem / 16);
}

h2,
.heading-2 {
    font-size: calc(80rem / 16);
}

h3,
.heading-3 {
    font-size: calc(50rem / 16);
}

button {
    cursor: pointer;
    font-family: var(--body-font);
    text-transform: uppercase;
}

.btn {
    border: none;
    font-weight: 600;
}

a {
    color: var(--almost-black);
    font-weight: 600;
    text-decoration: none;
    transition: var(--transition-speed-1);
}

a:hover {
    color: var(--dark-grayish-green);
}

/***Fade In/Out***/

.fade-in {
    opacity: 0;
}

.fade-in-out {
    opacity: 1;
}

/*********************************************************************************/

/*HEADER STYLES*/

/*********************************************************************************/

header {
    position: fixed;
    right: 0;
    top: 100px;
    width: 100vw;
    z-index: var(--z-4);
}

/***Menu Button***/

.menu-btn-container {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    position: relative;
    width: 100%;
}

.btn.menu {
    background-image: linear-gradient(180deg, var(--almost-black) 0, var(--almost-black) 50%, var(--dark-grayish-green) 0, var(--dark-grayish-green));
    background-size: 80px 40px;
    color: var(--off-white);
    height: 20px;
    padding-bottom: 1px;
    transition: var(--transition-speed-1);
    width: 80px;
    z-index: var(--z-4);
}

.btn.menu:hover {
    background-position: -100% 100%;
    color: var(--almost-black);
}

.btn.menu:before {
    background-image: linear-gradient(180deg, var(--almost-black) 0, var(--almost-black) 50%, var(--dark-grayish-green) 0, var(--dark-grayish-green));
    background-size: 80px 40px;
    content: '';
    height: 20px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: var(--transition-speed-1);
    width: 20px;
    z-index: var(--z-4);
}

.btn.menu:hover:before {
    background-position: -100% 100%;
}

/***Nav***/

nav {
    background: var(--off-white);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: var(--transition-speed-1);
    visibility: hidden;
    width: 100vw;
    z-index: var(--z-3);
}

nav.active {
    opacity: 1;
    visibility: visible;
}

nav .nav-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 22px 0;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
}

nav .nav-container:before,
nav .nav-container:after {
    background: var(--off-white);
    content: '';
    height: 50%;
    left: 50%;
    position: absolute;
    transform: translate3d(-50%, 0, 0);
    transition: var(--transition-speed-2);
    width: 420px;
    z-index: 1;
}

nav .nav-container:before {
    border-bottom: 4px solid var(--almost-black);
    top: 0;
}

nav .active.nav-container:before {
    left: calc(50% - 210px);
    top: calc(-50% + 116px);
}

nav .nav-container:after {
    border-top: 4px solid var(--almost-black);
    bottom: 0;
}

nav .active.nav-container:after {
    bottom: calc(-50% + 116px);
    left: calc(50% + 210px);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: max-content;
}

nav .jump-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 420px;
}

nav .jump-links li {
    height: 55px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

nav .jump-links a {
    display: block;
    letter-spacing: -8px;
    line-height: calc(54 / 80);
    padding-right: 7px;
    position: relative;
}

nav .jump-links a:before {
    background: var(--almost-black);
    content: '';
    height: 24px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: scaleX(1) translate3d(0, -50%, 0);
    transform-origin: left;
    transition: var(--transition-speed-1);
    width: 100%;
}

nav .jump-links a:hover:before {
    transform: scaleX(0) translate3d(0, -50%, 0);
}

nav .my-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 420px;
}

nav .my-info:before {
    background: var(--almost-black);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    width: 100%;
    z-index: -1;
}

nav .my-info li {
    height: 22px;
    overflow: hidden;
}

nav .my-info a {
    background: var(--off-white);
    display: block;
    line-height: calc(12 / 16);
    padding: 5px 0;
    position: relative;
}

nav .my-info li:nth-of-type(1) a {
    padding-right: 4px;
}

nav .my-info li:nth-of-type(2) a {
    padding: 5px 4px;
}

nav .my-info li:nth-of-type(3) a {
    padding-left: 4px;
}

nav .my-info a:before {
    background: var(--almost-black);
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: scaleX(1) translate3d(0, -50%, 0);
    transform-origin: left;
    transition: var(--transition-speed-1);
    width: 100%;
}

nav .my-info a:hover:before {
    transform: scaleX(0) translate3d(0, -50%, 0);
}

/*********************************************************************************/

/*MARQUEE STYLES*/

/*********************************************************************************/

.marquee {
    height: 100%;
    left: 40px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 20px;
}

.marquee:before {
    background: var(--almost-black);
    content: '';
    height: 100%;
    left: 7px;
    position: absolute;
    top: 0;
    width: 2px;
}

.marquee span {
    animation: marqueeScroll 120s linear infinite;
    left: 100%;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: top left;
    white-space: nowrap;
}

/*********************************************************************************/

/*LEFT CONTACT LINKS*/

/*********************************************************************************/

.left-links {
    height: 20px;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: rotate(90deg);
    transform-origin: top left;
    transition: var(--transition-speed-2);
    width: 100vh;
    z-index: var(--z-1);
}

.left-links.active {
    left: 20px;
    opacity: 1;
}

.left-links .my-info {
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-links a {
    font-size: calc(14rem / 16);
    font-weight: 400;
}

/*********************************************************************************/

/*TITLES*/

/*********************************************************************************/

.title {
    position: absolute;
}

.title span {
    border: 2px solid var(--almost-black);
    font: 400 calc(25rem / 16)/calc(25 / 25) var(--body-font);
    height: max-content;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: top left;
    width: max-content;
}

.title span.inverted {
    background: var(--almost-black);
    color: var(--off-white);
    transform: scale(1, -1) translate3d(-50%, -50%, 0);
}

/***Top***/

.title.top {
    height: 30px;
    right: 0;
    top: 70px;
    width: calc(100% - var(--container-padding-left));
}

/***Right***/

.title.right {
    height: 100%;
    right: 60px;
    top: 0;
    width: 30px;
}

.title.right span.inverted {
    transform: rotate(90deg) scale(1, -1) translate3d(-50%, -50%, 0);
}

/***Bottom***/

.title.bottom {
    bottom: 70px;
    height: 30px;
    right: 0;
    width: calc(100% - var(--container-padding-left));
}

/***Left***/

.title.left {
    height: 100%;
    left: 60px;
    top: 0;
    width: 30px;
}

.title.left span {
    transform: rotate(90deg) translate3d(-50%, -50%, 0);
}


/*********************************************************************************/

/*FRONT PAGE STYLES*/

/*********************************************************************************/

.hero {
    opacity: 0;
    transition: var(--transition-speed-2);
}

.hero.active {
    opacity: 1;
}

.hero .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    letter-spacing: -4px;
    padding-right: 8px;
    position: relative;
    transition: var(--transition-speed-1);
}

.hero h1:before,
.hero h1:after {
    background: var(--off-white);
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    transform: translate3d(0, -50%, 0);
    transition: var(--transition-speed-2);
    transition-delay: 0.5s;
    width: 100%;
}

.hero h1:before {
    border-bottom: 11px solid var(--almost-black);
    top: calc(50% - 25px);
}

.hero h1:after {
    border-top: 11px solid var(--almost-black);
    top: calc(50% + 25px);
}

.hero.active h1:before {
    top: 0;
    transform: translate3d(0, -45px, 0);
}

.hero.active h1:after {
    top: 100%;
    transform: translate3d(0, -13px, 0);
}

.arrow-down {
    border-bottom: 2px solid var(--almost-black);
    border-right: 2px solid var(--almost-black);
    bottom: 60px;
    height: 16px;
    opacity: 0;
    position: absolute;
    transform: rotate(45deg);
    transition: var(--transition-speed-2);
    width: 16px;
}

.arrow-down.active {
    bottom: 40px;
    animation: downArrow 8s ease infinite;
}

/*********************************************************************************/

/*ABOUT ME*/

/*********************************************************************************/

/***Titles***/

/*Left*/

.about-me .title.left {
    left: 80px;
    width: 80px;
}

/*Right*/

.about-me .title.right {
    right: 20px;
    width: 80px;
}

/***Skills***/

.skills-container {
    height: 100px;
    left: 80px;
    position: absolute;
    top: 20px;
    width: 80px;
}

.skills-container .skills-front {
    height: 100%;
    position: relative;
    width: 100%;
}

.letter {
    font-style: italic;
    line-height: calc(68 / 100);
    opacity: 0.75;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transition: all 0.25s ease;
}

.letter.gray {
    color: var(--almost-black);
    left: 0;
}
.letter.green {
    color: var(--dark-grayish-green);
    left: 12px;
}

.skills-front .letter.green.active {
    left: 446px;
}

.btn.open-skills,
.btn.open-edu {
    animation: 5s flicker linear infinite;
    background: var(--dark-grayish-green);
    bottom: 0;
    font-weight: 400;
    height: 20px;
    left: 0;
    position: absolute;
    transition: all 0.25s ease;
    width: 100%;
    z-index: var(--z-4);
}

.btn.open-edu {
    animation-delay: 1s;
}

.btn.open-skills:hover,
.btn.open-edu:hover {
    animation: none;
    background: var(--almost-black);
    color: var(--off-white);
    opacity: 0.75;
}

.nav-open .btn.open-skills,
.nav-open .btn.open-edu {
    z-index: var(--z-1);
}

.skills,
.education {
    border-left: 2px solid var(--almost-black);
    border-right: 2px solid var(--almost-black);
    display: flex;
    flex-direction: column;
    left: 80px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 16px;
    transform: skewX(-15deg);
    transition: all 0.25s ease;
    visibility: hidden;
    width: 350px;
}

.skills.active,
.education.active {
    opacity: 1;
    visibility: visible;
}

.skills ul,
.education ul {
    display: flex;
    font: 400 calc(14rem / 16)/calc(24 / 14) var(--body-font);
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: skewX(15deg);
}

.top-list {
    animation: topSkills 44s linear infinite;
    left: 0;
    position: relative;
}

.bottom-list {
    animation: bottomSkills 44s linear infinite;
    left: -400%;
    position: relative;
}

/***Education***/

.edu-container {
    bottom: 20px;
    height: 100px;
    position: absolute;
    right: 20px;
    width: 80px;
}

.edu-front {
    height: 100%;
    position: relative;
    width: 100%;
}

.edu-front .btn.open-edu {
    bottom: auto;
    top: 0;
}

.edu-front .letter {
    bottom: 0;
    top: auto;
}

.edu-front .letter.gray.active {
    left: -434px;
}

.education {
    bottom: 9px;
    left: auto;
    right: 80px;
    top: auto;
}

.education ul li {
    align-items: flex-end;
    display: flex;
    gap: 4px;
    white-space: nowrap;
}

.education ul li span {
    font-size: calc(12rem / 16);
    line-height: calc(22 / 12);
}

/***Content***/

.about-me .container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.about-me .content {
    width: 512px;
}

.about-me .content p {
    font: 400 calc(14rem / 16)/calc(28 / 14) var(--body-font);
}

/*********************************************************************************/

/**/

/*********************************************************************************/



/*********************************************************************************/

/*KEYFRAMES*/

/*********************************************************************************/

/***Marquee***/

@keyframes marqueeScroll {
    to { top: 0; }
}

@keyframes downArrow {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes topSkills {
    to { left: -400%; }
}

@keyframes bottomSkills {
    to { left: 0; }
}

@keyframes flicker {
    0% { background-color: var(--dark-grayish-green) }
    8% { background-color: var(--dark-grayish-green) }
    10% { background-color: var(--off-white) }
    12% { background-color: var(--dark-grayish-green) }
    32% { background-color: var(--dark-grayish-green) } 
    34% { background-color: var(--off-white) }
    36% { background-color: var(--dark-grayish-green) }
    38% { background-color: var(--off-white) }
    40% { background-color: var(--dark-grayish-green) }
    42% { background-color: var(--off-white) }
    44% { background-color: var(--dark-grayish-green) }
    46% { background-color: var(--off-white) }
    48% { background-color: var(--dark-grayish-green) }
    68% { background-color: var(--dark-grayish-green) }
    70% { background-color: var(--off-white) }
    72% { background-color: var(--dark-grayish-green) }
    74% { background-color: var(--off-white) }
    76% { background-color: var(--dark-grayish-green) }
    78% { background-color: var(--off-white) }
    80% { background-color: var(--dark-grayish-green) }
    100% { background-color: var(--dark-grayish-green) }
}